$padding: 50px 100px;

/* ----- COLORS ----- */

// $color-text-primary: rgb(102, 101, 101);
$color-text-primary: #2e2e2e;

// $color-text-secondary: rgb(175, 174, 174);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// Functional color variables
$color-shadow-light: rgba($color-white, 0.5);
// $color-shadow-med: rgba($color-text-secondary, 0.5);
$color-shadow-black: rgba($color-black, 0.6);
