.la-190 {
  display: flex;
  flex-direction: column;

  @include responsive-sm {
    flex-direction: column;
  }
  @include responsive-xs {
    flex-direction: column;
    padding: 50px;
  }

  .la-190__text {
    display: flex;

    @include responsive-sm {
      flex-direction: column;
    }
    @include responsive-xs {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  .la-190_heading {
    padding: $padding;
    width: 50%;
    display: flex;
    flex-direction: column;

    @include responsive-sm {
      flex-direction: column;
      width: 100%;
      padding: 0 100px;
    }
    @include responsive-xs {
      flex-direction: column;
      width: 100%;
      padding: 0 25px;
    }

    h6 {
      margin-top: 50px;
      font-size: 18px;
      font-weight: 300;
    }

    h1 {
      font-size: 60px;

      @include responsive-sm {
        font-size: 40px;
      }
      @include responsive-xs {
        font-size: 40px;
      }
    }
  }

  .la-190__content {
    padding: $padding;
    width: 50%;
    display: flex;
    flex-direction: column;

    @include responsive-sm {
      width: 100%;
    }
    @include responsive-xs {
      width: 100%;
      padding: 0 25px;
    }

    p {
      padding: 50px 0;

      @include responsive-sm {
        padding: 0 0 50px 0;
      }
      @include responsive-xs {
        padding: 0 0 50px 0;
      }
    }
  }

  .la-190__img {
    display: flex;
    flex-direction: column;
    height: 50vh;

    img {
      width: 100%;
      height: 100%;
      background-image: url("/asset/img-17A.jpg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include responsive-xs {
        background-size: auto;
      }
    }
  }
}
