.la-about {
  padding: $padding;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h6 {
    font-size: 18px;
    font-weight: 300;
  }

  h1 {
    font-size: 55px;
    margin: 15px 0;
    opacity: 0;
    animation: fade-down 3000ms $easeOutBack 500ms forwards;

    @include responsive-sm {
      font-size: 40px;
    }

    @include responsive-xs {
      font-size: 30px;
    }
  }

  .la-banner__btn {
    margin-bottom: 50px;
  }

  .la-about__content {
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;

    @include responsive-sm {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    @include responsive-xs {
      flex-direction: column;
      align-items: center;
    }

    .la-about__content-1,
    .la-about__content-2,
    .la-about__content-3 {
      flex: 1 0 auto;
      padding-left: 30px;

      h2 {
        padding-right: 15px;
        font-weight: 400;
      }
    }

    .la-about__content-1 {
      opacity: 0;
      animation: left-to-right 3000ms $easeOutBack 500ms forwards;

      > div {
        padding-right: 20px;

        @include responsive-sm {
          padding-right: 0;
        }
        @include responsive-xs {
          padding-right: 0;
        }
      }
    }

    .la-about__content-2 {
      opacity: 0;
      animation: fade-up 3000ms $easeOutBack 500ms forwards;
    }

    .la-about__content-3 {
      opacity: 0;
      animation: right-to-left 3000ms $easeOutBack 500ms forwards;
    }

    @include responsive-sm {
      .la-about__content-1,
      .la-about__content-2,
      .la-about__content-3 {
        padding-left: 0;
        margin-bottom: 30px;

        > div {
          margin-bottom: 10px;
        }
      }
    }
    @include responsive-xs {
      .la-about__content-1,
      .la-about__content-2,
      .la-about__content-3 {
        padding-left: 0;
        margin-bottom: 30px;

        > div {
          margin-bottom: 10px;
        }
      }
    }
  }
}
