@import "./util/variables";

.la-banner {
  // height: 50vh;

  // background-image: linear-gradient($color-shadow-black, $color-shadow-black),
  //   url("/asset/const08.jpg");
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
  // min-height: 20vh;

  // &.section--visible {
  //   .la-banner__headings p {
  //     opacity: 0.6;
  //   }
  // }

  .la-banner__headings {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 100px 0;
    // color: $color-white;
    // font-size: 17px;
    // text-align: center;
    background: violet;

    p {
      width: 100%;
      text-align: center;
      background: palevioletred;
      // margin-bottom: 15px;
      // text-transform: uppercase;
      // letter-spacing: 4px;
      // font-size: 11px;
      // opacity: 0.6;
      // transform: scaleY(1);
      // transition: 700ms ease-in-out;
    }

    hr {
      // border: 0.5px solid $color-shadow-light;
      width: 25%;
    }

    h2 {
      width: 100%;
      text-align: center;
      background: khaki;
      // font-size: 25px;
      // font-weight: 200;
      // letter-spacing: 2px;
      // word-spacing: 3px;
      margin: 0;
      // opacity: 1;
    }
  }
}
