@import "../util/variables";

.la-header {
  // height: 100vh;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.5),
      rgba(12, 12, 12, 0.5)
    ),
    url("/asset/slides/slide-0.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: $color-white;

  @include responsive-xs {
  }

  p {
    padding: 200px 100px 50px 100px;
    width: 40%;

    @include responsive-sm {
      width: 60%;
    }
    @include responsive-xs {
      width: 70%;
      padding: 200px 50px 50px 50px;
      font-size: 13px;
    }
  }

  h1 {
    padding: 0 100px;

    @include responsive-xs {
      padding: 0 50px;
      font-size: 65px;
    }
  }

  > div {
    padding: 50px 100px 100px 100px;
    display: flex;

    @include responsive-xs {
      padding: 50px;
    }

    h6 {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 300;
      margin-right: 20px;
    }
  }
}
