@import "./util/variables";
@import "./util/mediaq";
@import "./util/animations";

.la-menu {
  // background-color: $color-white;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.5),
      rgba(12, 12, 12, 0.5)
    ),
    url("asset/const-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;

  transition: transform 600ms $easeInOutQuint;
  transform: scale(1.4);
  transform-origin: center left;

  .la-menu__logo {
    color: $color-white;
    font-size: 20px;
    width: 80px;
    height: 80px;
    // border: 1px solid #373737;
    border: 1px solid $color-white;
    background-image: url("asset/logo_wA.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .la-nav__closebtn {
    color: $color-white;
    position: absolute;
    top: 45px;
    right: 10%;
    font-size: 30px;
    cursor: pointer;
    @include hover-scale-01;

    > span {
      font-size: 18px;
      font-weight: 300;
      padding-right: 10px;
    }
  }

  .la-menu__tabs {
    color: $color-white;
    display: flex;
    flex-direction: column;
    margin: 100px 100px;
    line-height: 2;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $color-white;
      cursor: pointer;

      &:hover {
        .la-menu__line {
          width: 80px;
        }
      }

      .la-menu__line {
        margin-right: 25px;
        width: 0;
        height: 3px;
        background: $color-white;
        transform-origin: left;
        transition: width 500ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
      }

      .la-menu__link {
        font-size: 50px;
      }
    }
  }

  &.la-nav__menu--visible {
    transform: translateX(-100vw) scale(1);
  }
}
